<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.ApplyDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.demo.entity.ApplyDetail">
        <id column="id" property="id" />
        <result column="invoice_apply_instance_id" property="invoiceApplyInstanceId" />
        <result column="order_contract_id" property="orderContractId" />
        <result column="apply_amount" property="applyAmount" />
        <result column="state" property="state" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, invoice_apply_instance_id, order_contract_id, apply_amount, state, create_time
    </sql>

</mapper>
