<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.OrderContractProjectMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.demo.entity.OrderContractProject">
        <id column="id" property="id" />
        <result column="contract_id" property="contractId" />
        <result column="project_num" property="projectNum" />
        <result column="project_money" property="projectMoney" />
        <result column="sum_project_money" property="sumProjectMoney" />
        <result column="publishs" property="publishs" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, contract_id, project_num, project_money, sum_project_money, publishs
    </sql>

</mapper>
