<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.ProjectApprovalProjectMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.demo.entity.ProjectApprovalProject">
        <id column="id" property="id" />
        <result column="year" property="year" />
        <result column="operators_num" property="operatorsNum" />
        <result column="partner_num" property="partnerNum" />
        <result column="cooperate_ratio" property="cooperateRatio" />
        <result column="name" property="name" />
        <result column="type" property="type" />
        <result column="attribute" property="attribute" />
        <result column="dept_id" property="deptId" />
        <result column="dept_name" property="deptName" />
        <result column="sub_dept_id" property="subDeptId" />
        <result column="sub_dept_name" property="subDeptName" />
        <result column="customer_tax_number" property="customerTaxNumber" />
        <result column="customer_address" property="customerAddress" />
        <result column="customer_name" property="customerName" />
        <result column="customer_contact_name" property="customerContactName" />
        <result column="customer_contact_phone" property="customerContactPhone" />
        <result column="customer_bank_name" property="customerBankName" />
        <result column="customer_bank_account" property="customerBankAccount" />
        <result column="customer_files" property="customerFiles" />
        <result column="basis_type" property="basisType" />
        <result column="basis_files" property="basisFiles" />
        <result column="publish" property="publish" />
        <result column="project_income" property="projectIncome" />
        <result column="self_income" property="selfIncome" />
        <result column="voucher_num" property="voucherNum" />
        <result column="creator_id" property="creatorId" />
        <result column="creator_name" property="creatorName" />
        <result column="state" property="state" />
        <result column="create_date" property="createDate" />
        <result column="update_date" property="updateDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, year, operators_num, partner_num, cooperate_ratio, name, type, attribute, dept_id, dept_name, sub_dept_id, sub_dept_name, customer_tax_number, customer_address, customer_name, customer_contact_name, customer_contact_phone, customer_bank_name, customer_bank_account, customer_files, basis_type, basis_files, publish, project_income, self_income, voucher_num, creator_id, creator_name, state, create_date, update_date
    </sql>

</mapper>
