<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.SplitReceivePaymentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.demo.entity.SplitReceivePayment">
        <id column="id" property="id" />
        <result column="invoice_id" property="invoiceId" />
        <result column="belong_dept_id" property="belongDeptId" />
        <result column="belong_dept_name" property="belongDeptName" />
        <result column="belong_sub_dept_id" property="belongSubDeptId" />
        <result column="belong_sub_dept_name" property="belongSubDeptName" />
        <result column="payment_time" property="paymentTime" />
        <result column="payment_amount" property="paymentAmount" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, invoice_id, belong_dept_id, belong_dept_name, belong_sub_dept_id, belong_sub_dept_name, payment_time, payment_amount, create_time
    </sql>

</mapper>
